.contact{
    background:#121212;
    width: 100%;
}

.contact form {
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}
.contact form input,
.contact form textarea{
    width: 100%;
    background-color: black;
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px;
    padding: .8rem;
}
.contact form textarea{
 resize: none;
}
.form-btn{
    display: flex;
    justify-content: center;
    width: 100%;
}
.form-btn .btn{
 cursor: pointer;
 font-size: 1rem;
 background-color: rgb(212, 170, 117);
 border: none;
}