.projects {
    background-color: black;
}

.filter-button{
    text-align: center;
    margin: 2rem;
}

.filter-button .btn{
 background: none;
 outline: none;
 border: none;
 cursor: pointer;
 font-size: .90rem;
 font-weight: 600;
 letter-spacing: .4px;
 margin-left: 1.3rem;
 color: aliceblue;
}
.filter-button .btn:hover{
    color: rgb(224, 171, 106);
}
.portfolio-gallary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem ;
}
.port-box{
    position: relative;
    border-radius: 15px; 
    overflow: hidden;
    background-color: black;
    display: flex;
    grid-template-rows:1fr auto;
    align-items: center;
    border: 2px solid rgb(224, 171, 106) ;
}

.port-image{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100%;
 width: 100%;
}
.port-image img{
    width: 100%;
    height: 100%;
    opacity: .5s;
    transition: .5s;
}
.port-content{
    position:  absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(rgb(117, 117, 117), rgb(221, 167, 105));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    padding: 0 2rem;
}
.port-box:hover .port-content{
    opacity: 1;
}
.port-box:hover .port-image img{
    transform: scale(1.1);
}

.port-content h3{
    font-size: 1.5rem;
    font-weight: 600;
}
.port-content p{
  font-size: .8rem;
  margin: 5px 0 15px 0;
}
